# Dependencies
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Build files
/client/build
/client/.cache
/client/dist

# SSL certificates
*.pem
*.key
*.crt

# Logs
logs
*.log

# Operating System Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
